@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Curae (Latin for Care)</h1>
    <p class="lead">The idea behind Curae is the coming together of the software components (gears), analytics, intelligence (brain power), and the power of the scalable backbone (cloud) for providing care. 
    </p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Dashboard landing page
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>FHIR Repository</h2>
        <p>Content about the FHIR Repository</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>CDC BRFSS</h2>
        <p>Content about the CDC BRFSS Repository</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>