
<section class="patientinfo page-header">
    <link rel="shortcut icon" href="favicon.ico">
    <h2>Please verify that you have selected the correct patient using the patient detail below.
    <br><br></h2>
  <div class="patient cf" ng-model="patients">

    <h1>Name: {{patients[0].resource.name[0].family[0]}}, {{patients[0].resource.name[0].given[0]}}</h1>
    
      <h3>Gender: {{patients[0].resource.gender}}</h3>
      <h3>Birth Date: {{patients[0].resource.birthDate}}</h3>
      <h4>Address: {{patients[0].resource.address[0].line[0]}}, {{patients[0].resource.address[0].city}}, {{patients[0].resource.address[0].state}}</h4>

  <a href="#/index.html"><button> Patient Search </button></a>
      <br><br>
  <a href="{{y}}"> <button> Informational Graphics </button></a>
</section>
