<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Technology Used</title>

    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
<div class="container">
    <div class="row">
        <br><br><br>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-3">
        <a href="https://azure.microsoft.com/en-us/">
            <h2 >Microsoft Azure</h2>
        </a>    </div>
        <div class="col-lg-8 col-md-9">
        <p>Microsoft Azure is a versatile cloud app platform hosted by one of the largest companies in the world.
            It supports many programming and OS technologies, including Linux and Javascript. Azure is scalable and
            secure, compliant with ISO 27018, new international cloud privacy standard. This adds confidence in the
            strength and security potential of the cloud hosting platform for medical related applications.
        </p>
        <br><br>
        </div>
    </div>
    <div>
        <div class="row">

            <div class="col-lg-4 col-md-3">
                <a href="http://jamesagnew.github.io/hapi-fhir/">
                    <h2>HAPI FHIR</h2></a>
        </div>
        <div class="col-lg-8 col-md-9">
            <p>HAPI FHIR is an open-source implementation of the HL7 FHIR specification written in Java. The instance
                of the FHIR server used for this app is hosted by Georgia Tech, but could be easily redirected to any
                server also using HAPI FHIR. With modification, the app could be redirected to any FHIR-compliant server.
                While Georgia Tech uses HAPI FHIR, it does not implement all of the features. Therefore, other
                implementations using HAPI FHIR may be able to take advantage of unsupported functionality to strengthen
                their functionality.
                <br><br>
                An <a href="https://www.hl7.org/fhir/overview.html">FHIR (Fast Healthcare Interoperable Resources)
                    standards
                    overview</a> is available on the FHIR site.
            </p>
        </div>
        <br><br>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-3">
            <a href="http://angularjs.org">
                <h2>AngularJS</h2>
            </a>
        </div>
        <div class="col-lg-8 col-md-9">
            <p>We used AngularJS to develop an easy to use single page application (SPA). Its natural support for the
                Model-View-Controller paradigm makes it a great tool for getting data from RESTful services and
                displaying them in an intuitive way. AngularJS also acts as a wrapper or extension of Javascript
                enabling rapid development with fewer coding details. While we have kept the AngularJS libraries
                locally, all libraries can be accessed via Content Distribution Networks (CDN). Both AngularJS and
                bootstrap rely on jquery, which is also included in the local library.</p>
            <br><br>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-3">
            <a href="http://www.fusioncharts.com">
            <h2>FusionCharts</h2>
        </a>
        </div>
        <div class="col-lg-8 col-md-9">
            <p>FusionCharts is a JavaScript library containing more than 90 charts and 900 maps. It is easily incorporated
                into AngularJS applications. The JSON data model feeds the charts easily. The charts will also resize
                based on the available space in the browser, accommodating screens of all sizes. For future development,
                FusionCharts also supports real-time updates.</p>
            <br><br>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-center">
        <button class="btn btn-info" style="text-align:center"><a href="#/index.html"> Return to Main Page </a></button>
    </div>
</div>

</body>
</html>
