<!DOCTYPE html>
<!--
    Photon by HTML5 UP
    html5up.net | @@n33co
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->

<html ng-app="myApp">
<head>
    <title>Curae Dashboard</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../Content/main.css" />
</head>
<body>

    <!-- Header -->
    <section id="header">
        <div class="inner">
            <span class="icon major fa-cloud"></span>
            <h1>
                <strong>CURAE</strong> <i>(Latin for Care)</i> <br />
                The spirit of Population Health Analytics<br />

            </h1>
            <p>
                Software components (gears), analytics, intelligence (brain power), <br />
                and the power of the scalable backbone (cloud) for providing care.
            </p>
            <span><img src="../images/logo2.gif" alt="" /></span>
            <ul class="actions">
                <li><a href="#one" class="button scrolly">Discover</a></li>
            </ul>
        </div>
    </section>

    <div class="container body-content">
        @RenderBody()

        <section id="footer">
            <ul class="icons">
                <li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
                <li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
            </ul>
            <ul class="copyright">
                <li>Fall 2015 Georgia Tech CS6440</li>
                <li>Design: <a href="mailto:atrivedi37@gatech.edu;amannengal3@gatech.edu;dmacanaspie3@gatech.edu;ezlatopolosky3@gatech.edu;jwhittle3@gatech.edu;smartin61@gatech.edu">The A Team</a></li>

                
            </ul>
        </section>
    </div>

    <script src="../Scripts/jquery.min.js"></script>
    <script src="../Scripts/jquery.scrolly.min.js"></script>
    <script src="../Scripts/skel.min.js"></script>
    <script src="../Scripts/util.js"></script>
    <script src="../Scripts/main.js"></script>
    <script src="../Scripts/angular/angular.min.js"></script>
    <script src="../Scripts/angular/angular-route.min.js"></script>
    <script src="../Scripts/angular/jquery-1.11.2.js"></script>
    <script src="../Scripts/angular/bootstrap.min.js"></script>
    <script src="../Scripts/angular/fusioncharts.js"></script>
    <script src="../Scripts/angular/angular-fusioncharts.min.js"></script>
    <script src="../Scripts/app.js"></script>
    <script src="../Scripts/controllers.js"></script>
</body>
</html>
